@use '../../assets/styles/variables' as *;

.chat-layout {
    display: grid;
    grid-template-columns: 320px 1fr;
    width: 100%;
    height: 100vh;
    gap: 10px;

    &__sidebar,
    &__conversation {
        display: flex;
        flex-direction: column;
        gap: 4px;
        overflow: hidden;
        position: relative;
    }

    &__profile {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $block-background-color;
        padding: 10px;
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
    }

    &__chats {
        display: flex;
        flex-direction: column;
        gap: 8px;
        background-color: $chat-background-color;
        padding: 10px;
        overflow: auto;
        height: 100%;
    }

    &__dialog {
        display: flex;
        flex-direction: column;
        flex: 1;
        background-color: $block-background-color;
        overflow: hidden;
    }
}