// base palette
$background-color: #0e1621;
$text-color: #ffffff;
$text-muted-color: #8a97a5;
$link-color: #6ab3f3;

//button
$button-background-color: #5288c1;
$button-hover-color: #6699cc;
$button-text-color: #ffffff;

//input
$input-background-color: #242f3d;
$input-text-color: #ffffff;

//block colors
$block-background-color: #17212b;
$block-text-color: #ffffff;

//chat list
$chat-item-background-color: #282f37;
$chat-item-hover-color: #202b36;

//chat background
$chat-background-color: #111820;

//message bubbles
$message-own-background-color: #304858;
$message-other-background-color: #2b6daf;

$font-family: monospace;